USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 2025/04/23 23:34:45 ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDataFile', FILENAME = N'C:\Users\User\Desktop\DBD Assignment DB\data\InventoryDataFile.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'InventoryLogFile', FILENAME = N'C:\Users\User\Desktop\DBD Assignment DB\data\InventoryLogFile.ldf' , SIZE = 5120KB , MAXSIZE = 2048GB , FILEGROWTH = 10240KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
/****** Object:  Table [dbo].[CustomerOrders]    Script Date: 2025/04/23 23:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrders](
	[CustomerOrderID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2025/04/23 23:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Business] [bit] NULL,
	[PhoneNumber] [varchar](12) NULL,
	[EmailAddress] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 2025/04/23 23:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItems](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryItem] [varchar](30) NOT NULL,
	[SellingPrice] [money] NOT NULL,
	[Category] [varchar](20) NOT NULL,
	[Discontinued] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLists]    Script Date: 2025/04/23 23:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLists](
	[ListID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ExtraOrderNeeded] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 2025/04/23 23:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobDescription] [varchar](500) NOT NULL,
	[Category] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOrders]    Script Date: 2025/04/23 23:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOrders](
	[StockOrderID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[Delivered] [bit] NULL,
	[Logged] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 2025/04/23 23:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [varchar](20) NOT NULL,
	[Suburb] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](12) NULL,
	[PostalCode] [int] NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[ExclusiveInventory] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomerOrders] ON 

INSERT [dbo].[CustomerOrders] ([CustomerOrderID], [JobID], [CustomerID]) VALUES (3, 2, 8)
INSERT [dbo].[CustomerOrders] ([CustomerOrderID], [JobID], [CustomerID]) VALUES (4, 3, 12)
INSERT [dbo].[CustomerOrders] ([CustomerOrderID], [JobID], [CustomerID]) VALUES (5, 3, 16)
SET IDENTITY_INSERT [dbo].[CustomerOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Address], [Business], [PhoneNumber], [EmailAddress]) VALUES (8, N'Sipho', N'Mokoena', N'45 Vilakazi St, Soweto, Gauteng', 1, N'082 345 6789', N'sipho.mokoena@gmail.com')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Address], [Business], [PhoneNumber], [EmailAddress]) VALUES (9, N'Naledi', N'Khumalo', N'12 Long St, Cape Town, Western Cape', 0, N'073 456 7890', N'naledi.khumalo@yahoo.com')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Address], [Business], [PhoneNumber], [EmailAddress]) VALUES (12, N'Thabo', N'Dlamini', N'101 West St, Sandton, Johannesburg', 1, N'074 123 4567', N'thabo.dlamini@outlook.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryItems] ON 

INSERT [dbo].[InventoryItems] ([InventoryID], [InventoryItem], [SellingPrice], [Category], [Discontinued]) VALUES (2, N'Solar Panel', 2499.0000, N'Solar Equipment', 0)
INSERT [dbo].[InventoryItems] ([InventoryID], [InventoryItem], [SellingPrice], [Category], [Discontinued]) VALUES (3, N'Inverter', 6999.0000, N'Solar Equipment', 0)
INSERT [dbo].[InventoryItems] ([InventoryID], [InventoryItem], [SellingPrice], [Category], [Discontinued]) VALUES (4, N'Solar Geyser', 8499.0000, N'Solar Equipment', 0)
SET IDENTITY_INSERT [dbo].[InventoryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryLists] ON 

INSERT [dbo].[InventoryLists] ([ListID], [InventoryID], [WarehouseID], [Quantity], [ExtraOrderNeeded]) VALUES (5, 2, 3, 70, 0)
INSERT [dbo].[InventoryLists] ([ListID], [InventoryID], [WarehouseID], [Quantity], [ExtraOrderNeeded]) VALUES (6, 3, 3, 10, 1)
INSERT [dbo].[InventoryLists] ([ListID], [InventoryID], [WarehouseID], [Quantity], [ExtraOrderNeeded]) VALUES (9, 4, 3, 12, 1)
SET IDENTITY_INSERT [dbo].[InventoryLists] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobID], [JobDescription], [Category]) VALUES (2, N'Server Installation', N'Networking')
INSERT [dbo].[Jobs] ([JobID], [JobDescription], [Category]) VALUES (3, N'Camera Installation', N'Security')
INSERT [dbo].[Jobs] ([JobID], [JobDescription], [Category]) VALUES (5, N'Geyser and Solar Inverter', N'Solar')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[StockOrders] ON 

INSERT [dbo].[StockOrders] ([StockOrderID], [InventoryID], [Quantity], [WarehouseID], [Delivered], [Logged]) VALUES (1, 2, 5, 3, 1, 1)
INSERT [dbo].[StockOrders] ([StockOrderID], [InventoryID], [Quantity], [WarehouseID], [Delivered], [Logged]) VALUES (3, 6, 100, 5, 0, 0)
INSERT [dbo].[StockOrders] ([StockOrderID], [InventoryID], [Quantity], [WarehouseID], [Delivered], [Logged]) VALUES (4, 3, 10, 3, 1, 0)
SET IDENTITY_INSERT [dbo].[StockOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([WarehouseID], [WarehouseName], [Suburb], [PhoneNumber], [PostalCode], [Address], [ExclusiveInventory]) VALUES (1, N'Central Depot', N'Sandton', N'082 555 0192', 11201, N'12 Main St', 1)
INSERT [dbo].[Warehouse] ([WarehouseID], [WarehouseName], [Suburb], [PhoneNumber], [PostalCode], [Address], [ExclusiveInventory]) VALUES (2, N'Westside Storage', N'Blairgowrie', N'082 555 0345', 11375, N'22 West Ave', 0)
INSERT [dbo].[Warehouse] ([WarehouseID], [WarehouseName], [Suburb], [PhoneNumber], [PostalCode], [Address], [ExclusiveInventory]) VALUES (3, N'East Hub', N'Craighall', N'082 555 1122', 10001, N'44 Broadway', 1)
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('FALSE') FOR [Business]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ('FALSE') FOR [Discontinued]
GO
ALTER TABLE [dbo].[InventoryLists] ADD  DEFAULT ('FALSE') FOR [ExtraOrderNeeded]
GO
ALTER TABLE [dbo].[StockOrders] ADD  DEFAULT ('FALSE') FOR [Delivered]
GO
ALTER TABLE [dbo].[StockOrders] ADD  DEFAULT ('FALSE') FOR [Logged]
GO
ALTER TABLE [dbo].[Warehouse] ADD  DEFAULT ('FALSE') FOR [ExclusiveInventory]
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([JobID])
GO
ALTER TABLE [dbo].[InventoryLists]  WITH CHECK ADD FOREIGN KEY([InventoryID])
REFERENCES [dbo].[InventoryItems] ([InventoryID])
GO
ALTER TABLE [dbo].[InventoryLists]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouse] ([WarehouseID])
GO
ALTER TABLE [dbo].[StockOrders]  WITH CHECK ADD FOREIGN KEY([InventoryID])
REFERENCES [dbo].[InventoryItems] ([InventoryID])
GO
ALTER TABLE [dbo].[StockOrders]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouse] ([WarehouseID])
GO
USE [master]
GO
